html {
  height: 100%;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  overflow: auto;
}

body {
  height: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 20%;
  background-color: #bae1ff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ol {
  text-decoration: none;
  list-style-type: none;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.dropbtn {
  display: block;
  color: #000;
  padding: 8px 18px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-decoration: none;
  background-color: white;
  width: 100%;
  box-shadow: 0px 25px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 20px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
  color: #000;
}

.dropdown-content a:hover {
  background-color: #555;
  color: white;
  width: 100%;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
  padding-right: 118px;
  text-decoration: none;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle, .column-four {
    width: 100%;
  }
  .column-four {
    padding-left: 40px;
  }
}

h1 {
  padding-left: 22px;
}
h2 {
  padding-left: 20px;
}

h3 {
  padding-left:20px;
}

p {
  padding-left: 20px;
  font-size: 16pt;
}

table {
  font-size: 18pt;
  margin-left: 20px;
  margin-bottom: 60px;
}

ol {
  font-size: 16pt;
  padding-left: 100px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: left;
  overflow: hidden;
}

/* Bottom left text */
.bottom-left-home {
  position: absolute;
  color: white;
  font-weight: 800;
  top: 85%;
  left: 34%;
  transform: translate(-50%, -50%);
  font-size: 6.5vw;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  font-weight: 800;
  color: white;
  left: 16px;
  font-size: 5vw;
}

.contacthome {
  overflow: hidden;
  background-color: #FF7F50;
  text-align: center;
}

.contacthome p {
  font-size: 2.2vw;
  color: black;
}

.contact {
  overflow: hidden;
  background-color: #FF7F50;
  text-align: center;
}

.contact p {
  font-size: 2vw;
  color: black;
}

/* Style the footer */
.footer {
  background-color: #D3D3D3;
  color: black;
  padding: 5px;
  text-align: left;
}

.footer li{
  font-size: 12pt;
}
.footer h4 {
  margin-left: 100px;
}
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.slideshow {
  position: relative;
  padding: 100px
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 200px;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 100px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 120px 20px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-slideshow {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  height: 120px;
}

.column-four {
  float: left;
  width: 22.5%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.column-half {
  float: left;
  width: 48%;
  margin-left: 20px;
  margin-bottom: 20px;
}
.column-footer {
  float: left;
  width: 49%;
  margin-bottom: 10px;
  margin-left: -20px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 32%;
  padding-bottom: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.text {
  background-color: white;
  color: black;
  font-size: 25pt;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}



/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.nav {
  width: 25%;
}

/* Middle column */
.column.body {
  width: 75%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle, .column-four, .column {
    width: 100%;
  }
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #bae1ff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #555;
  color: white;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.dropbtn {
  display: block;
  color: #000;
  padding: 8px 18px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-decoration: none;
  background-color: white;
  width: 100%;
  box-shadow: 0px 25px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 20px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
  color: #000;
}

.dropdown-content a:hover {
  background-color: #555;
  color: white;
  width: 100%;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-size: 10pt;
  text-decoration: none;
}

.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
  padding-right: 118px;
  text-decoration: none;
}

div.content {
  height: auto;
  margin-left: 20%;
  background-image: url('images/background_image.png');
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0%;}
}

@media screen and (max-width: 600px) {
  .sidebar a, .dropdown{
    text-align: center;
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .responsive {
    display: none;
  }
  .container p {
    display: none;
  }
}

/* style the contact form*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/*style the submit button on the contact form*/
input[type=submit] {
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: blue;
}

.contactform {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin: 20px;
}
