
* {
  box-sizing: border-box;
  margin-left: 5px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: black;
  font-size: 20px;
}

/* equal columns that floats next to each other */
.column {
  float: left;
  width: 32.8%;
  padding: 15px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
  margin-bottom: 20px;
}

.column.half {
  width: 45%;
}

.containedinTab {
  padding: 20px;
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

p {
  font-size: 11pt;
  color: black;
  text-align: left;
}

h4 {
  font-size: 14pt;
  font-weight: bold;
  color: black;
  text-align: left;
}

ol {
  font-size: 11pt;
  color: black;
  text-align: left;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid black;
  background-color: black;
  color: white;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

/* Style the tab content */
.contentintab {
  display: none;
  color: black;
  padding: 6px 12px;
  background-color: white;
  border: 2px solid black;
  border-top: none;
}

/* styles the content of the container in the tab*/
.btn {
  border: 2px solid black;
  background:#696969;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.btn:onclick {
  border: 2px solid black;
  background:green;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* styles the interview button*/
.interview {
  border-color: #f44336;
  color: red
}

.interview:hover {
  background: #f44336;
  color: white;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column{
    width: 100%;
  }
}
