
* {
  box-sizing: border-box;
}


body {
  margin: 0;
}

/* Style the header */
/* Container holding the image and the text */
.container-home {
  position: relative;
  text-align: center;
  align-items: left;
  color: #505050;
  opacity: 0.9;
  padding-top: 0;
  overflow: hidden;
  max-height: 60%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  opacity: 0.6;
  padding-top: 0;
  max-height: 40%;
  overflow: hidden;
}

/* page title on homa page */
.bottom-left-home {
  position: absolute;
  top: 50%;
  left: 80%;
  font-size: 30pt;
  transform: translate(-40%, -50%);
  font-family: monospace;
  border-style: solid;
  padding: 1%;
}

/* page title on all other pages */
.bottom-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  padding: 1%;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: black;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 15pt;
  padding: 35px 20px;
  text-decoration: none;
}

.topnav p {
  font-family: 'Bad Script', cursive;
  float: left;
  color: white;
  font-size: 18pt;
  padding-right: 30px;
}

.contact a {
  float: right;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

.column-four {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle, .column-four {
    width: 100%;
  }
}

.topnav .icon {
  display: none;
}

/* Responsive navbar - make the nav bar apper at the top which each button stacked on top of eachother */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0%;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    float:right;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .contact a {
    float: center;
    display: none;
    padding-right: 200px;
    padding-bottom: 80px;
  }
    /* removes the links to linked in account and twitter account in the header*/
  .row img {
    display: none;
  }
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: left;
  padding-bottom: 40px;
  margin-bottom: auto;
  padding-bottom: 60px;
}

.footer a {
  padding-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 13pt;
}

.footer img {
  float: left;
  padding-bottom: 20px;
}

/* styles the headings*/
h1 {
  font-weight: normal;
}

h2 {
  font-size: 250%;
  font-weight: normal;
  margin-left: 20px;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
}

h3 {
  font-size: 250%;
  font-weight: normal;
  margin-left: 20px;
}

h4 {
  font-family: serif;
  margin-left: 20px;
  font-family: Helvetica, sans-serif;
}

p {
  font-family: Helvetica, sans-serif;
  margin-left: 20px;
  line-height: 1.6em;
  font-size: 1.2em;
}

/* styles the tables*/
table {
  border-collapse: collapse;
  width: 95%;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

th {
  padding: 8px;
  text-align: left;
  font-size: 18pt;
  border-bottom: 1px solid #ddd;
  background-color: #DA70D6;
  text-align: center;

}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

/* styles the tabs*/
.tile {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 90%;
  border-radius: 5px;
  margin-left: 30px;
  padding: 15px;
  margin-bottom: 30px;
}

.tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
  float: right;
  margin: 0 0 10px 10px;
}

.container-tile {
  padding: 4px 16px;
}
